.btn {
  width: 245px;
  height: 60px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: $main-color;
  font-size: 16px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 3.88;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 10px ;
  cursor: pointer;
}