@media (max-width: 992px) {
  .btn {
    width: 208px;
    height: 45px;
    font-size: 15px;
    line-height: 3.1;
    border-radius: 6px;
  }
}
@media (max-width: 768px) {
  .btn {
    font-size: 14px;
    line-height: 3.4;
  }
}
